{% extends "base.html" %}

{% block report %} 

    <script type="text/javascript" src="{{MEDIA_URL}}js/DataTables-1.9.4/media/js/jquery.dataTables.js"></script>

    <script type="text/javascript" charset="utf-8" src="{{MEDIA_URL}}js/DataTables-1.9.4/extras/TableTools/media/js/ZeroClipboard.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{MEDIA_URL}}js/DataTables-1.9.4/extras/TableTools/media/js/TableTools.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{MEDIA_URL}}js/DataTables-1.9.4/extras/ColReorder/media/js/ColReorder.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{MEDIA_URL}}js/DataTables-1.9.4/extras/HVis/media/js/HVis.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{MEDIA_URL}}js/DataTables-1.9.4/extras/ColVis/media/js/ColVis.min.js"></script>
    <link rel="stylesheet" href="{{MEDIA_URL}}css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}js/DataTables-1.9.4/extras/TableTools/media/css/TableTools.css" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}js/DataTables-1.9.4/extras/ColReorder/media/css/ColReorder.css" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}js/DataTables-1.9.4/extras/ColVis/media/css/ColVis.css" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}js/DataTables-1.9.4/extras/HVis/media/css/HVis.css" />

<style type="text/css">
	table.dataTable {
 	  z-index:105;
	}
    table.dataTable td.highsel {
        background-color: #FECA40;
    }
    td.planinfo{
		border: 0px;
	}
	
	th.planinfo{
		border: 0px;
		text-align:	right;
		padding-right: 20px;
	}
	
	td{
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #003600;
	padding: 2px;
	}
	
	td#bottoni{
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		border: 1px solid #003600;
	}
	td#bottoni:hover{
		background-color: #E0E0E0;
	}
    
</style>

<script type="text/javascript">
jQuery(document).ready(function(){
    jQuery(".report").each(function(){
        //console.log(this);
        generate_result_table(this);
    });
});

function pad(n) { return ("0" + n).slice(-2); }

function generate_result_table(table){
    var d = new Date();
    var lasauth_url = "{{LAS_URL}}";
    var user = jQuery('#actual_username').val();
    var filename = actionname + "_" + user + '_' + $.datepicker.formatDate('yy-mm-dd', d) + "--" + pad(d.getHours()) + "-" + pad(d.getMinutes()) + "-" + pad(d.getSeconds());
    jQuery(table).dataTable( {
        "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        "iDisplayLength": -1,
        "sDom":'TRCH<\"clear\">lfrtip',
        "oTableTools": {
                "aButtons": [  //"copy",
                {
                    "sExtends": "las",
                    "sButtonText": "Las",
                    "sTitle": filename,
                    "mColumns": "visible"
                }, 
                {
                    "sExtends": "pdf",
                    "sButtonText": "Pdf",
                    "sPdfMessage": "Laboratory Assistant Suite - NGS Management Module - " + user + " - " + $.datepicker.formatDate('yy/mm/dd', d) + " @ " + pad(d.getHours()) + ":" + pad(d.getMinutes()) + ":" + pad(d.getSeconds()),
                    "sTitle": filename,
                    "mColumns": "visible",
                    "sPdfSize": "tabloid"
                },
                {
                    "sExtends": "data",
                    "sButtonText": "Data",
                    "sTitle": filename,
                    "mColumns": "visible"
                },
                {
                    "sExtends": "xls",
                    "sButtonText": "Xls",
                    "sTitle": filename,
                    "mColumns": "visible"
                }, 
                "print" ],
                "sUrl": lasauth_url + "/generate_report/",   
                "sSwfPath": base_url + "/ngs_media/js/DataTables-1.9.4/extras/TableTools/media/swf/copy_csv_xls_pdf.swf"
        }
    });
}

</script>

{% endblock %}

{%block home%}
	<div style='float:right'>
	    <a href="{% url ngs.views.home %}">
	    <button id='homebut' class='button'><img src="{{MEDIA_URL}}img/home.png"><span>Home</span></button>
	    </a>
	</div>
{% endblock %}


