{% extends "base.html" %}

{% block title %} Next Generation Sequencing - Home{% endblock %}

{% block content %}
	{% if not errore %}
		<link rel="stylesheet" href="/ngs_media/css/style-menu.css">
		<script type="text/javascript">
			jQuery(document).ready(function(){
			    $('.mainlink li, span').each(function(){
			        $(this).click(function() {
			        	var target = $(this).attr('target');
			        	var url = $(this).attr('url');
			        	if (url){
			        		window.location = url;
			        	}
			        	else{
			        		$('.cn-slide').each(function(){
			        			$(this).hide();	
			        		});
			        		$('#'+target).show();
			        	}
			    	});
			    });
			});
		</script>
	
		<div class="cn-container" style='float:left;width:30%'>
			<div class="cn-slide-main mainlink" id="slide-main">
			    <nav>
			    	<li url='{% url ngs.views.views_request.insert_sample %}'>Open IRCC facility request</li>
			    	<li url='{% url ngs.views.select_request %}'>Open external request</li>
			    	<li url='{% url ngs.views.views_experiment.execute_experiment %}'>Execute NGS run</li>			    				        
			        <li url='{% url ngs.views.select_experiment %}'>Upload results</li>
			        <li url='{% url ngs.views.get_results %}'>View results</li>
			    </nav>
	    	</div>
		</div>
		<div class='cn-container' style='float:right;width:25%'>
			<div class="imghome">
				<img src="/ngs_media/img/liquid_rtpcr.jpg" style="width:100%">
			</div>
		</div>
	
		<br style="clear:both;"><br><br><br>
	{% else %}
		<h1 align="center">Error: something went wrong</h1>
	{% endif %}
{% endblock %}