{% extends "base.html" %}
{% block title %}Report Request{% endblock %}


{% block content %}

<style>
	td.planinfo{
		border: 0px;
	}
	th.planinfo{
		border: 0px;
		text-align:	right;
		padding-right: 20px;
	}
	
	td{
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #003600;
	padding: 2px;
	}
	
	td#bottoni{
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		border: 1px solid #003600;
	}
	td#bottoni:hover{
		background-color: #E0E0E0;
	}
	
</style>

<div style='float:right'>
    <a href="{% url ngs.views.home %}">
    <button id='homebut' class='button'><img src="{{MEDIA_URL}}img/home.png" style='width: 0.8em;'><span>Home</span></button>
    </a>
    <a href="{% url ngs.views.validate_samples %}">
    <button class='button'><span>Next step</span></button>
    </a>
</div>

<div style="max-width:600px;">
<p style="color:red">{{ errore }}</p>
<article id="riquadro" style="margin-bottom:20px">
<div id="plan_info">
	<h3>Plan Info</h3>
	<table id="plan_info" cellspacing="3" style="margin-bottom:20px;margin-top:25px;margin-left:22px;">             
	     <tbody>
	        <tr> 
	            <th class="planinfo">Assign To:</th> 
	            <td class="planinfo">{{plan.idOperator}}</td> 
	        </tr>
	        <tr> 
	            <th class="planinfo">Requested By:</th> 
	            <td class="planinfo">{{plan.owner}}</td> 
	        </tr>
	        <tr> 
	            <th class="planinfo">Requested at:</th> 
	            <td class="planinfo">{{plan.timestamp}}</td> 
	        </tr>
	        <tr>
	        	<th class="planinfo">Request title:</th> 
	            <td class="planinfo">{{plan.title}}</td> 
	        </tr>
			<tr>
	        	<th class="planinfo">Request description:</th> 
	            <td class="planinfo">{{plan.description}}</td> 
	        </tr>
     
	    </tbody> 

	    
	</table>

</div>
</article>

<fieldset id="chip_position_layout">
	
	<legend><b>Aliquots</b></legend>
	<table cellspacing="5">
		 	<thead>
				<tr> 
                <th style="text-align:center;">Genealogy ID</th>
                <th style="text-align:center;">Owner</th>
                <th style="text-align:center;">Original Volume</th>
                <th style="text-align:center;">Original Concentration</th>
                <th style="text-align:center;">Taken Volume</th>
            	<th style="text-align:center;">Container Barcode</th>
            	<th style="text-align:center;">Position</th>
            	<th style="text-align:center;">Father Container</th>

		        </tr>
	        </thead>
	        <tbody>
    	{% for smpid, aliquot in aliquots.items %} 
		 		
		        <tr>
		            <td>{{aliquot.genId}}</td>
		            <td>{{aliquot.owner}}</td>
		            <td>{{aliquot.volume}}</td>
		            <td>{{aliquot.concentration}}</td>
					<td>{{aliquot.volumetaken}}</td>
					<td>{{aliquot.barcode}}</td>
					<td>{{aliquot.pos}}</td>
					<td>{{aliquot.father_container}}</td>
		        </tr>
	 
		{% endfor %}
	       </tbody>
	</table> 
</fieldset>
</div>
{% endblock %}