{% extends "tissue2/baseReport.html" %}
{% block title %}Search probe{% endblock %}

{% block script %}
	<script type="text/javascript" src="{{MEDIA_URL}}JS/url.js"></script>
  	<script type="text/javascript" src="{{MEDIA_URL}}JS/label/search_probe.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}JS/jquery-ui.js"></script>
	
	<link rel="stylesheet" href="{{MEDIA_URL}}jquery_ui/jquery-ui.css" type="text/css" />

{% endblock %}

{% block content %}	
	<style type="text/css">
		.f select,.f input { display:block;}
		#table_mut_filter,#table_mut_selez_filter {margin-bottom:4px;}
		#table_mut_paginate a,#table_mut_info,#table_mut_selez_paginate a,#table_mut_selez_info {padding-top:4px;}
		#table_mut tr.gene_el,#table_mut_selez img {cursor:pointer;}
	</style>

	<div id="inizio2" style="width:100%;float:left;padding:0em;padding-bottom:1em;">
        <h3 style="text-align: center">Gene selection</h3>
        <input id="nomeprobe" type="hidden" value="" />
        <input id="tipo_marker" type="hidden" value={{tipomarker}} />
        <div style='float:left;width:90%;padding-left:5%;padding-top:1%'>
	        <table>
	        	<tr>
	        		<td>
	        			<b>Gene:</b>
	        		</td>
	        		<td>
	        			<input type="text" class="select1" id="search_gene" size="35" gene_uuid="" />
		        	</td>
		        	<td>
		        		<input id="search_target" class="button" type="submit" value="Search probe" />
		        	</td>  
		        </tr>
	        </table>
        </div>
        <div style='float:left;width:100%;margin-top:1%'>
	        <h3 style="text-align: center">Probe selection</h3>
	        <div style='float:left;width:90%;padding-left:5%;padding-top:1%'>
		        <table id='table_mut' style='float:left'>
	                <tbody>
	                </tbody>
		        </table>
        	</div>
       	</div>
		<br style="clear:both;">
		<br>
		<div style="width:90%;padding-left:5%;text-align:center;">
			<input id='selez' class='button' type='button' style='display: inline;'  value='↓'>
			<table id='table_mut_selez' >
                <tbody>
                </tbody>
	        </table>
        </div>
        <br style="clear:left;">
        <br>
        <div align="center" >
        	<input id="close" class="button" type="button" value="Finish&Close" />
        </div>
	</div>
		    
{% endblock %}