<!--<form name="htmlform" method="post" action="http://127.0.0.1:8000/api/createMutationAnnotation">-->
<form name="htmlform" method="post" action="https://lasircc.polito.it/annotations/api/createMutationAnnotation">
    <p>Genealogy ID: <input type="text" name="genId" value="" /></p>
    <p>Aliquot inferred: <input type="text" name="aliquotInferred" value="" /></p>
    <p>Gene ID: <input type="text" name="geneId" value="" /></p>
    <p>Gene status: <input type="text" name="geneStatus" value="" /></p>
    <p>Mutation ID: <input type="text" name="mutId" value="" /></p>
    <p>Allele frequency: <input type="text" name="alleleFreq" value="" /></p>
    <p>CDS syntax inferred: <input type="text" name="cdsInferred" value="" /></p>
    <input id="btn" type="submit" value="Submit" />
</form>
