{% extends "base.html" %}
{% load jsonify %}

{% block title %}Annotations Manager - New Gene Copy Number Variation{% endblock %}

{% block script %}
<script type="text/javascript" src="{{MEDIA_URL}}js/cvi_busy_lib.js"></script>
<script src="{{MEDIA_URL}}js/opentip-jquery.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/newGCN.js"></script>
<script src="{{MEDIA_URL}}lib/select2-4.0.0-Beta 2/js/select2.js"></script>
<script src="{{MEDIA_URL}}js/genid.json"></script>

<script src="{{MEDIA_URL}}lib/sumoselect/jquery.sumoselect.min.js"></script>

<script type="text/javascript">
var geneInfo_url = "{% url api.newapi.geneInfo %}";
</script>

{% endblock %}
{% block style %}
<link href="{{MEDIA_URL}}css/opentip.css" rel="stylesheet" type="text/css" />
<link href="{{MEDIA_URL}}lib/select2-4.0.0-Beta 2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="{{MEDIA_URL}}lib/sumoselect/sumoselect.css" rel="stylesheet" />
<style>
select.select1 {min-width: 310px; width: 310px;}
select.select3 {min-width: 70px; width: 70px;}
input.input3 {min-width: 120px; width: 120px; border: 1px solid rgb(170, 170, 170); border-radius: 4px; height: 24px; vertical-align: top; text-align: right;}
.select2-container {width: 310px;}
div.sortable-container {padding: 20px; min-height: 50px; margin-top: 10px; border: solid 1px rgb(170, 170, 170); background-color: #fff; border-radius: 4px;} /*max-height: 310px; overflow-y: auto; */
ul.sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
ul.sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-weight: bold; height: 18px; cursor: pointer; width: 300px;}
ul.sortable li span.ui-icon { display: inline-block; margin-left: 0px; margin-right: 10px;}
ul.sortable li span.ui-icon:hover { cursor: pointer; background-color: #C9C9C9; }  
button[type=button],button[type=submit],button[type=reset] { border-radius: 3px; }
.genidpar{width: 50px;}
span.action {cursor: pointer;}
span.action:hover {background-color: #99C199;}
table#altgenesummary thead th, table#samplesummary thead th {text-align: center;}
td.center {text-align: center;}
.textbtn {cursor: pointer;}
.textbtn:hover {text-decoration: underline;}
span.small {font-size: 10px;}

div.container-left {width: 33%; border-width:1px 0px 1px 1px; border-style: solid; border-color: grey; min-height: 300px; height: 300px; max-height: 480px; background: white; overflow-y: scroll;}
div.container-right {margin-left: 0px; float: right; width: 66%; border-width:1px 1px 1px 0px; border-style: solid; border-color: grey; min-height: 600px; background: #dddddd;}
label.captions {display: inline-block; width: 80px; margin-right: 10px; margin-bottom: 16px;}
label.captions.wide {width: 120px;}
select.wide {min-width: 218px; width: 218px;}
input.wide {min-width: 206px; width: 206px; height: 22px; border-radius: 5px; border: 1px solid #A4A4A4; padding-left: 5px; padding-right: 5px; color: #333333;}

a.boxclose{
    float:right;
    margin-top:-18px;
    margin-right:-18px;
    cursor:pointer;
    color: #dddddd;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #ffffff;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 5px;
}

.boxclose:before {
    content: "×";
}

span.criterion {margin: 10px; padding: 10px; display: block; min-height: 100px; border: 1px solid #AEAEAE; background: #FBF5EF;}
b.criterion {font-size: 1.1em;}

select {border-radius: 5px;}
</style>
{% endblock %}

{% block content %}
<article id="riquadro">
<h3>New Gene Copy Number Variation</h3>
<br>
<label for="assembly" class="captions wide">Assembly:</label>
<select id="assembly" class="wide">
    {% for a in assembly %}
    <option value="{{ a.id }}">{{ a.name }}</option>
    {% endfor %}
</select>
<br>

<label for="method" class="captions wide">Method:</label>
<select id="method" class="wide">
    <option value="0">Gene</option>
    <option value="1">Region</option>
</select>
<br>

<span id="method-0" style="display: none" >
    <label class="captions wide" for="gene">Gene symbol:</label>
    <select class="captions wide" id="gene">
        <option></option>
    </select>
    <br>
</span>

<span id="method-1" style="display: none" >
    <label for="chrom" class="captions wide">Chromosome:</label>
    <select id="chrom" class="wide">
        {% for c in chrom %}
        <option value="{{ c }}">chr{{ c }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="start" class="captions wide">Start coordinate:</label>
    <input id="start" class="wide" type="number" />
    <br>
    <label for="end" class="captions wide">End coordinate:</label>
    <input id="end" class="wide" type="number" />
    <br>
</span>

<div style="margin-top: 8px">
    <label for="allele" class="captions wide">Variation class:</label>
    <select id="class" class="wide">
        {% for c in cnv_types|dictsort:"rank" %}
        <option value="{{ c.id }}">{{ c.name }}</option>
        {% endfor %}
    </select>
</div>
<label for="xref" class="captions wide">External ID (optional):</label>
<input id="xref" class="wide" />

<form id="frm-data" action="./" method="post">
    <input type="hidden" id="frm-assembly" name="assembly" />
    <input type="hidden" id="frm-method" name="method" />
    <input type="hidden" id="frm-gene" name="gene" />
    <input type="hidden" id="frm-class" name="class" />
    <input type="hidden" id="frm-chrom" name="chrom" />
    <input type="hidden" id="frm-start" name="start" />
    <input type="hidden" id="frm-end" name="end" />    
    <input type="hidden" id="frm-referer" name="referer" value="{{ referer }}" />
    <input type="hidden" id="frm-xref" name="xref" />
    {% csrf_token %}
    <button type="reset">Reset</button>
    <button type="submit">Submit</button>
</form>

</article>
{% endblock %}
