
{% extends "registration/base.html" %}
{% load i18n %}

{% block title %} {% trans 'Password change' %} {% endblock %}

{% block script %}
	<script src="/lasauth_media/js/strength.js"></script>
	<link rel="stylesheet" href="/lasauth_media/css/strength.css">
    <script src="/lasauth_media/js/setPassword.js"></script>
	<script>$("section#content").addClass("home");</script>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<p id="user_name">
	<span id="datename">{% now "jS F Y" %} | <a href="{% url loginmanager.views.logout %}">Logout</a> [{{  user.username  }}]</span>
</p>
{%endif%}
<nav>
<h1>{% trans 'Password change' %}</h1>

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it correctly." %}</p>
<p>Please note that password:<br>

- must contain 8 characters or more<br>

- must contain at least 1 lowercase letter<br>

- must contain at least 1 uppercase letter<br>

- must contain at least 1 number</p>
<form action="" method="post">
{% csrf_token %}
<table>
<tr>
	<td>		
		<label for="id_old_password">{% trans 'Old password:' %}</label>
	</td>
	<td>
		{{ form.old_password.errors }}
		{{ form.old_password }}
	</td>
</tr>
<tr>
	<td>		
		<label for="id_new_password1">{% trans 'New password:' %}</label>
	</td>
	<td>
		{{ form.new_password1.errors }}
		{{ form.new_password1 }}
	</td>
</tr>
<tr>
	<td>
		<label for="id_new_password2">{% trans 'Confirm password:' %}</label>
	</td>
	<td>
		{{ form.new_password2.errors }}
		{{ form.new_password2 }}
	</td>
</tr>
<tr>
	<td><input id="conf_all" type="submit" class="button" style="margin-left:0px;" value="{% trans 'Change my password' %}" /></td>
	<td></td>
</tr>
<table>
</form>

</nav>

{% endblock %}

{% block content-related %}

{% endblock %}
