{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<p id="user_name">
		<span id="datename">{% now "jS F Y" %} | <a href="{% url loginmanager.views.logout %}">Logout</a> [{{  user.username  }}]</span>
</p>
{%endif%}
<nav>
<h1>{% trans 'Password change successful' %}</h1>

<p>{% trans 'Your password was changed.' %}</p>
</nav>
{% endblock %}

{% block content-related %}

{% endblock %}