{% extends "base.html" %}
{% block title %}Select analysis for review{% endblock %}
{% block content %}

<meta charset="utf-8">
	
<script src="/rtpcr_media/js/jquery.sortElements.js"></script>
<script type="text/javascript" src="/rtpcr_media/js/DataTables-1.9.4/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/rtpcr_media/js/select_analysis_for_review.js"></script>
<link rel="stylesheet" href="/rtpcr_media/css/jquery.dataTables.css" />

<script>
var nextUrl = "{% url rtpcr.views.review_analysis %}";
</script>

	<h3>Selection of analysis for review</span></h3>
		
        <article style="width:inherit;overflow:auto">
		
        <p style="text-align:right;float:right"><input id="select" class="button" disabled="disabled" type="submit" value="Select" /></p> 

		<table border=1px id="analysis_table">
        	<thead>
				<Tr>
				<th style="text-align:center;">Timestamp</th>
				<th style="text-align:center;">Title</th>
                <th style="text-align:center;">Description</th>
                </tr>
        	</thead>
        	<tbody>
		    {% for a in analyses %}
				<tr analysis_index={{a.id}}>
				<td>{{a.time_executed|date:"Y-m-d H:i:s"}}</td>
				<td>{{a.id_experiment.title|default:""}}</td>
				<td>{{a.description|default:""}}</td>
			</tr>
			{% endfor %}

        	</tbody>
        </table>


        </article>


{% endblock %}