{% extends "tissue2/baseReport.html" %}
{% block title %}New cell line{% endblock %}

{% block script %}
<script type="text/javascript" src="{{MEDIA_URL}}JS/url.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}JS/collection/cell.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}JS/jquery-ui.js"></script>

<link rel="stylesheet" href="{{MEDIA_URL}}jquery_ui/jquery-ui.css" type="text/css" />

<style type="text/css">
	td {border-width:0px;border-right:4px; padding:3px;}
	#tabpiastra button {width:40px; height:40px; font-size: 20px; 
			background-color:rgb(249,248,242); -moz-border-radius:5px; 
			border-radius:5px;border-style:hidden;}
	ul{list-style-type: none;}
	.f p {float:left;margin-right:5px;}
	.f select, .f input {display:block; position:relative;text-align:justify;}
	#aliquots_table tr{text-align: center;}
	#aliquots_table_length select{font-size:1em;display:inline;}
	#aliquots_table_filter input{font-size:1em;}
	#aliquots_table_filter {margin-bottom:4px;}
	#aliquots_table img {cursor:pointer;}
</style>

{% endblock %}

{% block content %}
{% if not fine %}
	<input type="hidden" id="caso_fin" value={{caso}} />
	<input type="hidden" id="caso_iniz" value={{caso}} />
	<input type="hidden" id="caso_nuovo" value={{caso}} />
	<input type="hidden" id="sorg" value={{sorg}} />
	<input type="hidden" id="tess" value={{tess}} />
	<input type="hidden" id="vett" value={{vett}} />
	<input type="hidden" id="cellid" value={{res}} />
	<input type="hidden" id="tumor" value={{tumour}} />
	<input type="hidden" id="nomlinea" value={{linea}} />
	<input type="hidden" id="id_wgroup"  value={{wgroup}} />
	<div id=inizio style="width:45%;float:left;padding-right:1em;padding-bottom:1em;">
		<h3 style="margin-left:-0.85em;margin-right:-0.85em;-webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;">New cell line</h3>
		<table align="center"  style="-moz-border-radius: 20px;border-radius: 20px;-webkit-border-radius:20px;width:100%;"  id="dati">
			<tr>
				<td>
					<form id="primo_form" action={% url tissue.collection.CellLineNewCollection %} enctype="multipart/form-data" method="post">{% csrf_token %}
						<section class="f" style="float:left;">
							<span id="form1">
								{{ form.as_p }}
								<p style="margin-left:1em;">
									<label>Mycoplasma positive(optional):</label>
									<br>
									<input type="radio" name="myco" value="Yes" style="display:inline;margin-top:0.6em;" />Yes
								    <input type="radio" name="myco" value="No" style="display:inline;margin-top:0.6em;" />No
								</p>
								<br style="clear:both;">
								<p>
									<label for="id_file_datasheet">Datasheet file:</label>
									<br>
									<input id="id_file_datasheet" type="file" name="file_datasheet" size="6" style="display:none;" />
									<input id="filesheet" type="text" size="10" style="display:inline;" />
									<input id="tastosheet" type="button" class="button" value="Browse..." style="display:inline;" />
								</p>
								<p>
									<label for="id_file_invoice">Invoice file:</label>
									<br>
									<input id="id_file_invoice" type="file" name="file_invoice" size="6" style="display:none;" />
									<input id="fileinvoice" type="text" size="10" style="display:inline;" />
									<input id="tastoinvoice" type="button" class="button" value="Browse..." style="display:inline;" />
								</p>
								<p>
									<span style="font-size:1.1em;">You are collecting for:</span>
									<select id="id_workgr" name="workgr"></select>									
								</p>
							</span>
						</section>
						{% if not form2 %}
							<br style="clear:both;"/>
							<input type="submit" value="Confirm" id="conferma2" class='button' style="float:left;" />
						{% endif %}
					</form>
					{% if form2 %}
						<br style="clear:both;"/>
						<p class="hr2"></p>
					{% endif %}
					<form id="secondo_form" action={% url tissue.collection.CellLineSave %} method="post">{% csrf_token %}
						<section class="f" style="float:left;">
	    					{% if form2 %}
	    						<!-- <br style="clear:both;"/>
								<label for="gen_id">Genealogy:</label>
								&nbsp;&nbsp;<b>{{gen}}</b>
								
								<br><br>  --> 
								<input id="gen_id" type="hidden" name="genealogy_id" value="{{gen}}">
								<span id="form2">
									{{ form2.as_p }}
								</span>
							{% endif %}
						</section>
						<br style="clear:both;"/>
				
						{% if form2 %}
							<input type="submit" value="Save&Finish" id="conferma_finale" class='button' style="float:right;" />
							<input type="button" id="conf_aliq" value="Create aliquot" style="float:left;" class="button"/>
						{% endif %}
					</form>							
				</td>
			</tr>
		</table>
	</div>
	{% if form2 %}
		<table id="tabpiastra" border='2px' style="float:right;">
			<tr>
				<td>
					{{ a.table_extern|safe }}
				 	<div style=padding:5px;float:left;>
						<label for="barcode_rna">Plate Barcode:</label>
						<input id="barcode_rna" type="text" maxlength="45" size="15" name="barcode_r" >
					</div>
					<div style=padding-top:6px;float:left;>
						<br>
						<input type="submit" value="LoadPlate" id="load_rna_plate" style="display:inline;margin-top:3px;" class='button'/>
					</div>
				</td>
			</tr>
		</table>
		<br style="clear:both;"/>
		<section class="canc">
            <div id="view_aliquots" align="center" style="width:100%;float:left;margin-top:35px;">
                <fieldset  class="fieldset" style="height:85%;">
                    <legend class="legend"> Aliquots </legend>
                    <div style="height:100%;">
                        <table id="aliquots_table" class="aliquots_tab" border="2px" align="center">
                        </table>
                    </div>
                </fieldset> 
            </div>
        </section>
	{% endif %}
	
{% else %}
    <h2 style="float:left;">Saved aliquots:</h2>
	<div style='float:right'>
	    <a href="{% url tissue.views.index %}">
	    	<button id='homebut' class="button" ><img src="{{MEDIA_URL}}img/home.png"><span>Home</span></button>
	    </a>
	</div>
	<br style="clear:both">
    <table border='2px' id="aliquote_fin">
	    <thead>
		  {{  intest|safe  }}
		</thead>
	  	<tbody>
  			{% for i in aliq %}
           		{{  i|safe  }}
            {% endfor %}
	   	</tbody>
    </table>
    <br>
    <br>
    <br>
    <span style="font-size:1.4em;">Please note that these aliquots have to be archived <a href="{{DOMAIN_URL}}/storage/archive/" target="_blank" > here </a></span>

{% endif %}
{% endblock %}
