{% extends "tissue2/baseReport.html" %}
{% block title %}Collection{% endblock %}

{% block script %}
<script type="text/javascript" src="{{MEDIA_URL}}JS/collection/add_parameters.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}JS/genidbuttonmanagement.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}JS/jquery-ui.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}JS/boxlist.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}JS/url.js"></script>

<link rel="stylesheet" href="{{MEDIA_URL}}jquery_ui/jquery-ui.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}boxlist.css" />

<script type="text/javascript"> 
        templates = $.parseJSON('{{mdamTemplates|safe}}');
        mdam_url = "{{mdam_url}}";
</script>

<style type="text/css">
	input {display:inline;}
	#coll_fin_paginate a {padding-top:4px;}
	#coll_fin_filter {margin-bottom:4px;}
	#coll_fin tbody tr {cursor:pointer;}
	#coll_fin_info {margin-top:4px;}
	#genid th{padding-right:0.5em;}
	input.genidpar {width: 50px;}
	span.button {background-color: #a32900;}
</style>

{% endblock %}

{% block content %}
{% if primo %}
	<br><br>
	<div align="center">
		<div id=inizio style="width:40%;" >
			<table align="center"  style="-moz-border-radius: 20px;border-radius: 20px;-webkit-border-radius:20px;"  id="iniziale">
				<tr>
					<td>
						<form action={% url tissue.collection.CollectionInit %} method="post">{% csrf_token %}
								{{ form.as_p }}
								<br>
							<input type="submit" value="Submit" id="conferma1" class='button'/>
						</form>
					</td>
				</tr>
			</table>
		</div>
	</div>
{% endif %}
{% if secondo %}
	<script type="text/javascript">
		genid = $.parseJSON('{{genid|safe}}');
	</script>
    <div style="float:left;width:30%">
    	<input id="reopen" type="hidden">
        <fieldset>
	        <legend>Filters</legend>
	        <div style="width:100%;">
	                <input id="submit" class="button" type="submit" value="Search collection" style='float:right'/>
	        </div>
	        <div style='width:100%;margin-top:3em' id='templatediv'>
	                <table border="1px" id='templatetable' style='width:100%' ></table>
	        </div>       
        </fieldset>
	</div>

	<div id='contresults' style="float:right;width:68%;display:none"> <!--;display:none-->
        <fieldset>
        	<legend>Collections</legend>
        	<h4 align="center" style="margin-bottom:0.6em;margin-top:1em;font-size:1.2em;">Choose a collection</h4>
        	<div id='results' style="width:100%;float:left">
        		<table id="coll_fin">
        			<thead>	        				
        			</thead>
        			<tbody align="center">
        			</tbody>
        		</table>
        	</div>
        </fieldset>
	</div>
	
	<div id="dialog" style="display:none" title="Filter">
		<p>
			Genealogy ID type:
			<select id="selgenidtype">
				<option>Aliquot</option>
				<option>Derived aliquot</option>
			</select>
		</p>
		<table id="genid">                
               <thead>
                   <th style="width: 40px" class="add"></th>
               </thead>
               <tbody>
                <tr>
	                <td style="width: 40px" class="add">
	                    <button id="add_gid" class="button add_btn" style="margin-right:5px;">Add</button>
	                </td>	                
                </tr>
               </tbody>
           </table>
           <br>
                               
           <div>
           	<table>
                   <tr>
                       <td>
                           <span style="font-size:10px;margin-right:10px;">Load Genealogy IDs from file:</span>
                       </td>
                       <td>
                           <form id="genidfrm"><input type="file" id="genidfile" /></form>
                       </td>
                   </tr>

                   <tr>
                       <td>
                           <span style="font-size:10px;margin-right:10px;">Insert full Genealogy IDs:<br>(newline or blank separated)</span>
                           </td>
                       <td>
                           <textarea id="fullgenid" type="text" style="width:500px;height:80px; resize:none" maxlength="20000"></textarea></td>
                       <td>
                           <button id="add_gid2" class="button add_btn" style="margin-right:5px;">Add</button>
                       </td>
                   </tr>
               </table>
           </div>
           <br>                           
           <div id="genidlist" style="max-height: 200px;overflow: auto;"></div>				
	</div>
{% endif %}
{% if fine %}
	<style type="text/css">
		select{display:inline;}
	</style>
	
	<div style='float:right'>
	    <a href="{% url tissue.views.index %}">
	    <button id='homebut' class="button" ><img src="{{MEDIA_URL}}img/home.png"><span>Home</span></button>
	    </a>
	</div>
	<br style="clear:both">
	
    <h2>You collected these aliquots:</h2>
    <table border='2px' id="aliq">
        <thead>
	        {{  intest|safe  }}
	    </thead>
  	    <tbody>
  	        {% for i in aliq %}
           	    {{  i|safe  }}
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}