{% extends "tissue2/base.html" %}
{% block title %}Derive Aliquots - Step 2{% endblock %}

{% block script %}
	<script type="text/javascript" src="{{MEDIA_URL}}JS/url.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}JS/jquery-ui.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}JS/derived/load_kit.js"></script>
	
	<link rel="stylesheet" href="{{MEDIA_URL}}jquery_ui/jquery-ui.css" type="text/css" />
{% endblock %}

{% block content %}
	{% if lista %}
		<style type="text/css">
			td{padding:6px;vertical-align: middle;}
			th{padding:6px;vertical-align: middle;}
			#aliq input{display:inline;}
			#tabella_barc td {border-width: 0px;}
			#tab_riepilogo td {padding:3px;}
			.bordicurvi {border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
		</style>
		
		<div class="bordicurvi" style=";float:left;border-style: solid;border-width:0.1em;border-color:black;margin-right: 2em;margin-bottom: 1em;padding:0.5em;">
			<label for="id_valid_barc">Barcode (optional):</label>
			<div>
				<input id="id_valid_barc" type="text" style="float:left;margin-right:10px;"  size="10" autocomplete="off" >
				<input id="validate_barc" type="submit" class="button" style="float:left;" value="Verify barcode" title="Click to verify sample you are working with now"/> 
			</div>
		</div>
		
		<form id="form_conf" action={% url tissue.derived.SaveKitDerivedAliquots %} method="post">{% csrf_token %}
			<input id="id_robot" type="hidden" name="robot" value="{{robot}}">
			<div style="float:right;">
				<input id="conf_all" type="submit" class="button" value="Confirm and stop" style="margin-bottom:0.5em;display:inline;" name="stop" title="Click to confirm and stop derivation procedure at this step"/>
				<input id="next_step" type="submit" class="button" value="Next step" style="display:inline;" name="next" title="Click to confirm and pass to 'Measure Aliquots' step"/>
			</div>
			<br style="clear:both;"/>
			<table border='2px solid' style="float:left;" id="aliq">
				<thead>
					<th>N </th>
					<th>Genealogy ID</th>
					<th>Barcode</th>
					<th>Position</th>
					<th>Derivation Protocol</th>
					<th>Kit Barcode</th>
					<th>Kit Capacity</th>
					<th>Start date</th>
				</thead>
				<tbody>
					{% for aliquota,barc,pos in lista %}
						<tr align="center" class="interna">
							<input type="hidden" id="proto_{{forloop.counter0}}" name="prot_{{forloop.counter0}}" value={{aliquota.idDerivationProtocol.id}} />
							<td class="lis_indici" align="center">{{forloop.counter}}</td>
							<td class="lis_gen">{{aliquota.idAliquot.uniqueGenealogyID}}
								<!-- <input id="gen_{{forloop.counter0}}" maxlength="7" readonly="readonly" type="text" name="gen_{{forloop.counter0}}" value={{aliquota.idAliquot}} size=25 style="font-size:1.15em;" />  -->
							</td>
							<td class="lis_barcode">{{barc}}</td>
							<td>{{pos}}</td>
							<td>{{aliquota.idDerivationProtocol.name}}</td>
							<td>
								<input type="text" id="k_{{forloop.counter0}}" name="kit_{{forloop.counter0}}" size="18" autocomplete="off" />
							</td>
							<td id="cap_{{forloop.counter0}}"></td>
							<td>
								{{aliquota.initialDate|date:"jS F Y"}}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
	
			<br style="clear:both;">
		</form>
		<div id="dia1" style="display:none" title="Info">
			<p id='dialogMess'></p>
		</div>
	{% endif %}
	
	{% if not lista and not fine %}
		<h1 align="center">No derivation procedure scheduled for this user</h1>
	{% endif %}
	{% if fine %}
		<h1 id="h1_finale" align="center">Operation executed. All data have been saved</h1>
	{% endif %}
{% endblock %}