<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="charset=ISO-8859-1"> 
    <title>Redirecting back to application...</title>
    <script>
    function f() {
        document.loginForm.submit();
        setTimeout('showHidden()', 2000);
    }
    
    function showHidden() {
        document.getElementById('msg').style.visibility = "visible";
        document.getElementById('btn').style.visibility = "visible";
    }
    </script>
</head>
<body style="background-color: #E8E8E8; font-family: 'Lucida Grande', 'DejaVu Sans', 'Bitstream Vera Sans', 'Verdana', 'Arial', 'sans-serif'; color: #333" onload="f()">
    <h1 style="font-size: 25px">Loading, please wait...</h1>
    <form name="loginForm" action="{{ dest }}" method="post">
        <input type="hidden" name="status" value="{{ status }}" />
        <input type="hidden" name="session_key" value="{{ session_key }}" />
        <input type="hidden" name="uid" value="{{ uid }}" />
        <input type="hidden" name="hmac" value="{{ hmac }}" />
        <input type="hidden" name="modulo" value="{{ modulo }}" />
        
        <p id="msg" style="visibility: hidden">If your browser is not automatically redirected to the application page, please click the button below.</p>
        <input id="btn" style="visibility: hidden" type="submit" value="Continue to application" />
    </form>
</html>
