{% extends "base.html" %}
{% block title %}Finger Printing Management Module - Home{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/style-menu.css" />

<script type="text/javascript">

jQuery(document).ready(function(){
    $('.mainlink li, span').each(function(){
        $(this).click(function() {
        	var target = $(this).attr('target');
        	var url = $(this).attr('url');
        	if (url){
        		window.location = url;
        	}
        	else{
        		$('.cn-slide').each(function(){
        			$(this).hide();	
        		});
        		$('#'+target).show();
        	}
    	});
    });
});
</script>
	
<div class="cn-container" style='float:left;width:30%'>
		<div class="cn-slide-main mainlink" id="slide-main">
		    <nav>
		        <!--li url="{% url profiling.views.pending_request %}">Pending requests</li-->                            
		        <li url="{% url profiling.views.select_request %}">Validate samples</li>
		        <li target='slide-exp'>Experiments</li>
		        <li url='{% url profiling.views.defineAssay %}'>Manage Assays</li>
		    </nav>
    	</div>

</div>

<div class="cn-container" style='float:left;width:30%'>     
    <!-- Slide 1 and sub-slides -->
	    <div class="cn-slide mainlink" id="slide-exp">
	        <h2><span class="cn-back"><img src="{{MEDIA_URL}}images/arrow.png"></span>Experiment</h2>
	        <nav>
	        	<li url='{% url profiling.views.select_validated_session%}'>Experiment definition</li>
		        <li url='{% url profiling.views.select_experiment %}'>Upload results</li>
		        <li url='{% url profiling.views.select_analysis %}'>Upload analysis</li>
	        </nav>
	    </div>
</div>
	
<div class='cn-container' style='float:right;width:25%'>
	<div class="imghome">
		<img src="{{MEDIA_URL}}img/image_home.jpg" style="width:100%">
	</div>
	
</div>

	<br style="clear:both;"><br><br><br>

{% endblock %}
