{% extends "tissue2/baseReport.html" %}
{% block title %}Derive aliquots - Step 5{% endblock %}

{% block script %}
	<script type="text/javascript" src="{{MEDIA_URL}}JS/url.js"></script>	
	<script type="text/javascript" src="{{MEDIA_URL}}JS/derive_robot/create_derivatives.js"></script>
	<script type="text/javascript">
		lisfallite= $.parseJSON('{{lisfallite|safe}}');
	</script>
	<link rel="stylesheet" href="{{MEDIA_URL}}jquery_ui/jquery-ui.css" type="text/css" />
{% endblock %}

{% block content %}
	<style type="text/css">
		#aliq td{padding:5px;}
		#aliq {margin-bottom:4px;margin-top: 4px;}
		#aliq_paginate a {padding-top:4px;}
		#aliq_length {margin-top: 15px;}			
	</style>
	
	{% if not fine %}
		<form id="form_conf" action={% url tissue.derivation_robot.CreateDerivatives %} method="post">{% csrf_token %}
			<input id="update" type="submit" style="float:right;" value="Submit data" class="button" />
		</form>
		<br style="clear:both;">
		<br>
		<table border='1px solid' id="aliq">
			<thead>
				<th>N</th>
				<th>Genealogy ID</th>
				<th>Barcode</th>
				<th>Position</th>
				<th>Procedure name</th>	
			</thead>
			<tbody>
				{% for aliquota,barc,pos,name in lista %}
					<tr align="center" class="interna">
						<td class="lis_indici">{{forloop.counter}}</td>
						<td class="lis_gen">{{aliquota.idAliquot.uniqueGenealogyID}}
							<input id="gen_{{forloop.counter0}}" type="hidden" class="gen_aliq_der" name="gen_{{forloop.counter0}}" value={{aliquota.idAliquot.uniqueGenealogyID}} id_aldersched={{aliquota.id}} />
						</td>
						<td class="lis_barcode">{{barc}}
							<input id="barc_{{forloop.counter0}}" type="hidden" class="barc_aliq_der" name="barc_{{forloop.counter0}}" value={{barc}} />
						</td>
						<td class="td_pos">{{pos}}</td>
						<td class="td_name">{{name}}</td>						
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
	{% else %}
		<style type="text/css">
			td{padding:8px;border-width:1px;}
			th{padding:8px;}
			#aliquote_fin_paginate a {padding-top:4px;}
			#aliquote_fin {margin-bottom:4px;margin-top: 4px;}
		</style>
		
		<div style='float:left;'>
			<!-- <span style="font-size:1.4em;">Please note that these aliquots have to be archived <a href="{{DOMAIN_URL}}/storage/archive/" target="_blank" > here </a></span>  -->
			<a href="{{DOMAIN_URL}}/storage/archive/" target="_blank">
		    	<button id='homebut' class="button" >Archive created aliquots</button>
		    </a>
		</div>
		<div style='float:right'>
		    <a href="{% url tissue.views.index %}">
		    <button id='homebut' class="button" ><img src="{{MEDIA_URL}}img/home.png"><span>Home</span></button>
		    </a>
		</div>
		<br style="clear:both">
		
		<h2>These aliquots have been saved:</h2>
		<table border='2px' id="aliquote_fin">
			<thead>
				{{  intest|safe  }}
			</thead>
			<tbody>
				{% for i in lista_der %}
		           	{{  i|safe  }}
		        {% endfor %}
		    </tbody>
		           
		</table>	    
	{% endif %}
{% endblock %}
