{% extends "tissue2/base.html" %}
{% block title %}
	{% if label %}
		Slides labelling
	{% else %}
		Position aliquots
	{% endif %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{MEDIA_URL}}JS/url.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}JS/revalue/revalue_execute.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}JS/tooltip.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}JS/DataTables-1.9.1/media/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}jquery.dataTables.css" />

{% endblock %}

{% block content %}
	<script type="text/javascript">
		$(document).ready(function () {
			//per far comparire il tooltip con i commenti sull'immagine
			var listainp=$(".info input");
			var listaimg=$(".info img");
			for(var i=0;i<listainp.length;i++){
				var nota=$(listainp[i]).val();
				if ((nota!="None")&&(nota!="")){
					var tool="tooltip.show(\""+nota+"\");";
					$(listaimg[i]).attr("onmouseover",tool);
				}
			}
		});	
	</script>

	<style type="text/css">
		#aliq_definitive td{font-size: 1.1em;padding:5px;}
		#aliq_originali,#aliq_definitive {margin-bottom:4px;margin-top: 4px;}
		#aliq_originali_paginate a,#aliq_definitive_paginate a {padding-top:4px;}
		#aliq_originali_length,#aliq_definitive_length {margin-top: 8px;}
	</style>
	{% if label %}
		<form id="form_fin" action={% url tissue.label.CancLabelAliquots %} method="post">{% csrf_token %}
	{% else %}
		<form id="form_fin" action={% url tissue.position.CancVitalAliquots %} method="post">{% csrf_token %}
	{% endif %}
	
		<input id="canc_sel" type="submit" class="button" style="float:right;margin:1em 0em 1em 1em;" disabled="disabled" value="Abort Selected" title="Click to abort selected procedures" />
	</form>
	{% if label %}
		<form id="form_conf" action={% url tissue.label.ExecEffectiveLabelAliquots %} method="post">{% csrf_token %}
	{% else %}
		<form id="form_conf" action={% url tissue.position.ExecEffectivePositionVitalAliquots %} method="post">{% csrf_token %}
	{% endif %}
		<input id="conf_all" type="submit" class="button" style="float:right;margin:1em;" value="Next step" title="Click to confirm and pass to the next view"/>	
	{% if label %}
		<input id="no_validation" type="submit" class="button" style="float:right;margin:1em;" value="Proceed without validation" title="Click to pass to the next view without validating any aliquot"/>
	{% endif %}
	</form>
	<input id="tipoesp" value="{{tipo}}" type="hidden" />	
	<br style="clear:both;">
	<fieldset>
		<h2 align="center" style="font-size:1.3em;">Retrieve aliquots</h2>
		<section class="superiore">
			<table border='2px' style="border-color: black;float:left;" id="aliq_originali">
				<thead>
					<th>N </th>
					<th>Genealogy ID</th>
					<th>Freezer</th>
					<th>Rack</th>
					<th>Plate Position</th>
					<th>Plate</th>
					<th>Tube Position</th>
					<th>Barcode</th>
					<th>Notes</th>
					<th>Available</th>
					<th>Abort</th>
				</thead>
				<tbody>
				{% if lista %}
					{% for aliquota in lista %}
						<tr align="center">
							<td>{{forloop.counter}}</td>
							<td>{{aliquota.idAliquot.uniqueGenealogyID}}</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td class="info" style="max-width:20em;word-wrap:break-word;font-size:1em;">{{aliquota.notes}}</td>
							<td></td>
							<td>
								<input  id="canc_{{forloop.counter0}}" type="checkbox" class="check_canc" gen={{aliquota.idAliquot.uniqueGenealogyID}} />
							</td>
						</tr>
					{% endfor %}
				{% endif %}
				</tbody>
			</table>
		</section>
	</fieldset>
		
	<br style="clear:both;">
	
	<div id=inizio style="float:left;border:0px;padding-left:0px;" >
		<label for="id_barcode">Barcode:</label>
		<input id="id_barcode" type="text" name="tube" maxlength="50" autocomplete="off" >
	</div>
	
	<input id="conf" type="submit" class="button" style="margin-left:1.5em;margin-top:0.9em;float:left;" value="Validate Barcode" title="Click to add aliquot to the samples to position now" />
	<h2 id="contatore" style="float:left;margin-left:10em;font-size:1.3em;">
	</h2>
	<br style="clear:both;">
	<br>
	
	<div id="inferio" class="inferiore" style="display:none;">
		<fieldset>
			<h2 align="center" style="font-size:1.3em;">Validated aliquots</h2>
			<table border='2px' style="border-color: black;float:left;" id="aliq_definitive">
				<thead>
					<th>N </th>
					<th>Genealogy ID</th>
					<th>Freezer</th>
					<th>Rack</th>
					<th>Plate Pos.</th>
					<th>Plate</th>
					<th>Tube Pos.</th>
					<th>Barcode</th>
					<th>Notes</th>
				</thead>
				<tbody align="center">
				</tbody>
			</table>
		</fieldset>
	</div>

{% endblock %}
