<!DOCTYPE html>
<html lang="en">

<head>
<title>Retrieved aliquots - PDF</title>

</head>
<body>
<section>
        {% block content %}
                <h1 align="center">Retrieved aliquots</h1>

                <h4>Operator: {{  operatore  }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Date: {{data_pos|date:"jS F Y"}}</h4>

                <table border="1">
                        
                       		{{  intest|safe  }}
                        
                {% for m in list_report %}
                        {{  m|safe  }}
                {% endfor %}
                </table>
        {% endblock %}
</section>
</body>
</html>