{% extends "base.html" %}
{% block title %}Move tubes{% endblock %}

{% block script %}

<!--  <script type="text/javascript" src="{{MEDIA_URL}}JS/jquery-ui-1.8.15.custom.min.js"></script>-->

<script type="text/javascript" src="{{MEDIA_URL}}JS/tooltip.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}JS/url.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}JS/jquery-ui.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}JS/redips-drag-min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}JS/move.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}JS/merge_move.js"></script>
<link rel="stylesheet" href="{{MEDIA_URL}}style_drag.css" type="text/css" />

<style type="text/css">
	select{ display:block; position:relative;font-size: 2em;}
	label {font-size:1.4em;}  
	#drag button {width:35px; height:35px; font-size: 20px; 
			background-color:rgb(249,248,242); -moz-border-radius:5px; 
			border-radius:5px;border-style:hidden;}
	td {border-width:0px;border-right:4px; padding:3px;}
	th {font-size: 1.5em;}
	input{ position:relative;font-size: 1.5em;}
	table th{line-height: 25px;}
	ul{list-style-type: none;}
	#listapias1 th,#listapias2 th {font-size:1.3em; padding:6px;}
	#listapias1 td,#listapias2 td {font-size:1.3em; padding:6px;}
	#listapias1 td:hover,#listapias2 td:hover {border-color:black;#235032;border-style:solid;border-width:1px;background-color:silver;#99E5A6;cursor:pointer;}
</style>
<link rel="stylesheet" href="{{MEDIA_URL}}jquery-ui.css" type="text/css" />
{% endblock %}

{% block menu %}

    <ul>
        <li><a id="home" href={% url archive.views.index %}>Home</a></li>
    </ul>

{% endblock %}

{% block content %}
<h1 id="cont_h1"  align="center" style="font-size: 1.7em;">Change container position within archive</h1>
{% if not fine %}
	<br>
	{% if not fase2 %}
		<br>
		<div align="center">
			<div id=inizio style="width:45%;" class="ui-widget-content">
				<table align="center" id="iniziale">
				<tr>
					<td>
						<form action={% url archive.views.MoveAliquots %} method="post">{% csrf_token %}
								{{ form.as_p }}
								<br>
							<input type="submit" class="button" value="Submit" />
						</form>
					</td>
				</tr>
				</table>
			</div>	
		</div>
	{% else %}
		<input type="hidden" id="tipo" value={{tipo}} />
		<input type="hidden" id="modo" value={{una}} />
		
		{% if una %}
		<div id="drag" style="float:left;width:70%;">
			<div id="vit" align="center">
				<table border='2px' id="operativa">
		{% endif %}
		{% if molte %}
		<div id="drag" style="float:left;width:100%;">
			<div id="vit" style="float:left;">
				<table border='2px' style="float:left;" id="operativa">
		{% endif %}			
					{% if molte %}
					<th class="mark">
							SOURCE CONTAINER
					</th>
					{% endif %}	
					<tr>
						<td id="plate_operative" class="intest">
							{{ a.table_rna|safe }}						
						</td>
					</tr>
					<tr>
					<td class="intest" style="text-align: left;">
						<div style=padding:5px;padding-top:0px;float:left;>
							<label for="barcode_operative">Container Barcode:</label>
							<input id="barcode_operative" type="text" maxlength="45" name="barcode_op" >
				
						</div>
						<div style=padding-top:1px;float:left;>
						<br>
							<input type="submit" value="Load" class="button" id="load_operative_plate" style="display:inline;"/>
						</div>
						{% if una %}
							<div align="right" style=padding:1px;float:right;>
								<br>
								 <form action={% url archive.views.SaveMoveAliquots %} method="post" id="form_conferma">{% csrf_token %}
									<input type="hidden" id="tipospostamento" value={{tipo}} name="tipospost" />
									<input type="submit" value="Confirm" class="button" name="salva" id="p_confirm" />
								</form> 
							</div>
						{% endif %}	
					</td>
					</tr>
				</table>
	
			</div>
			{% if molte %}
				<div id="p_stored" style="float:right;">
					<table border='2px' style="float:right;" id="freezer">
						<th class="mark">
							DESTINATION CONTAINER
						</th>
						<tr>
							<td id='plate_stored' class="intest">
								{{ a.table_sf|safe }}
							</td>
						</tr>
						<tr>
						<td class="intest" style="text-align: left;">
						<div style=padding:5px;padding-top:0px;float:left;>
							<label for="barcode_freezer">Container Barcode:</label>
							<input id="barcode_freezer" type="text" maxlength="45" name="barcode_fr" >
						</div>
						<div style=padding-top:1px;float:left; id="barc">
							<br>
							<input type="submit" value="Load" class="button" id="load_freezer_plate" style="display:inline;"/>
						</div>
						<div align="right" style=padding:1px;float:right;>
							<br>
							 <form action={% url archive.views.SaveMoveAliquots %} method="post" id="form_conferma">{% csrf_token %}
								<input type="hidden" id="tipospostamento" value={{tipo}} name="tipospost" />
								<input type="submit" value="Confirm" class="button" name="salva" id="p_confirm" />
							</form> 
						</div>
						</td>
						</tr>
					</table>
				</div>
			{% endif %}
		</div>
		{% if molte %}
			<br style="clear:both;"/>
			<br>
			<div  style=padding-top:6px;float:left;>
				<input type="submit" class="button" value="Execute Batch" id="esegui_batch" />
			</div>
			<table border='2px' style="float:left;margin-left:10em;margin-top:6px;display:none;" id="listapias1">
				<th>
					Container list
				</th>
			</table>
			
		{% endif %}
						
		{% if una %}

			<table border='2px' style="float:left;margin-left:6em;margin-top:6px;display:none;" id="listapias1">
				<th style="font-size:1.3em; padding:6px;border-color: black;">
					Container list
				</th>
			</table>
		{% endif %}
		<table border='2px' style="float:right;margin-right:17em;margin-top:6px;display:none;" id="listapias2">
			<th>
				Container list
			</th>
		</table>
		<br style="clear:left;"/>
	{% endif %}
{% else %}
<script type="text/javascript">
		$(document).ready(function () {
		$("#cont_h1").text("Operation executed. All data have been saved");
		});
</script>
{% endif %}
{% endblock %}