{% extends "baseReport.html" %}
{% block title %}Put Away Aliquots{% endblock %}

{% block script %}
<script type="text/javascript" src="{{MEDIA_URL}}JS/url.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}JS/put.js"></script>

{% endblock %}

{% block content %}
	
	{% if not fine %}
		<style type="text/css">
			//#aliq_originali td,#aliq_definitive td{font-size: 1.2em;padding:6px;vertical-align: middle;}
			//#aliq_originali th,#aliq_definitive th{font-size: 1.3em;padding:6px;}
			#aliq_originali,#aliq_definitive {margin-bottom:4px;margin-top: 4px;}
			#aliq_originali_paginate a,#aliq_definitive_paginate a {padding-top:4px;}
			#aliq_originali_length,#aliq_definitive_length {margin-top: 14px;}
		</style>
		
		<form id="form_fin" action={% url archive.views.PutAwayAliquotsLast %} method="post">{% csrf_token %}
			<input id="conf_all" type="submit" style="float:right;margin:1em;" class="button" value="Save&Finish" name="save_all" title="Click to confirm"/>
		</form>
		
		<br style="clear:both;">
		<fieldset>
			<h2 align="center" style="font-size:1.3em;">Containers to be positioned</h2>
			<section class="superiore">
				<table border='2px' style="border-color: black;float:left;" id="aliq_originali">
					<thead>
						<th>N </th>
						<th>Genealogy ID</th>
						<th>Freezer</th>
						<th>Rack</th>
						<th>Plate Position</th>
						<th>Plate</th>
						<th>Tube Position</th>
						<th>Barcode</th>
					</thead>
					<tbody>
					{% if lista %}
						{% for diz in lista %}
							<tr align="center">
								<td>{{forloop.counter}}</td>
								<td>{{diz.gen}}</td>
								<td>{{diz.freezer}}</td>
								<td>{{diz.rack}}</td>
								<td>{{diz.platepos}}</td>
								<td>{{diz.plate}}</td>
								<td>{{diz.tubepos}}</td>
								<td>{{diz.barcode}}</td>
							</tr>
						{% endfor %}
					{% endif %}
					</tbody>
				</table>
			</section>
		</fieldset>
		<br style="clear:both;">
		
		<!--  <form action={% url archive.views.PutAwayAliquotsLast %} method="post">{% csrf_token %}  -->
			<div id=inizio style="float:left;border:0px;padding-left:0px;" >		
				<label for="id_barcode" style="font-size:1.4em;">Barcode:</label>
				<input id="id_barcode" type="text" name="tube" size="15" autocomplete="off" >
			</div>
			
			<input id="conf" style="margin-left:1.5em;margin-top:1.2em;float:left;" type="submit" class="button" value="Confirm Barcode" name="add_cont" title="Click to add container to the container to put away" />
			
			<h2 id="contatore" style="float:left;margin-left:10em;font-size:1.3em;">
	
			</h2>
		</form>
		
		<br style="clear:both;">
		<br>
		
		<div id="inferio" class="inferiore">
			<fieldset>
				<h2 align="center" style="font-size:1.3em;">Containers returned</h2>
				<table border='2px' style="border-color: black;float:left;" id="aliq_definitive">
					<thead>
						<th>N </th>
						<th>Genealogy ID</th>
						<th>Freezer</th>
						<th>Rack</th>
						<th>Plate Position</th>
						<th>Plate</th>
						<th>Tube Position</th>
						<th>Barcode</th>
					</thead>
					<tbody align="center">
					</tbody>
				</table>
			</fieldset>
		</div>
	{% else %}
		<style type="text/css">
		#cont_fin_filter{margin-right: 20px;}
		select { display:inline;}
		#cont_fin_paginate a {padding-top:4px;}
		#cont_fin {margin-bottom:4px;margin-top: 4px;}
	</style>
	<script type="text/javascript">
		jQuery(document).ready(function () {
			generate_result_table("Container","cont_fin");
		});
	</script>
		<div style='float:right'>
		    <a href="{% url archive.views.index %}">
		    <button id='homebut' class="button" ><img src="{{MEDIA_URL}}img/home.png"><span>Home</span></button>
		    </a>
		</div>
		<br style="clear:both">
		
		<h2 style="font-size:1.3em;">Containers returned:</h2>
		<table border='2px' id="cont_fin">
			<thead>
				{{  intest|safe  }}
			</thead>
			<tbody>
				{% for i in dati %}
		           	{{  i|safe  }}
		        {% endfor %}
		    </tbody>
		           
		</table>
	{% endif %}
{% endblock %}