<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="charset=ISO-8859-1"> 
	<title>Laboratory Assistant Suite</title>
	<link rel="stylesheet" href="/lasauth_media/manage/css/styles.css" />
	<link rel="stylesheet" href="/lasauth_media/manage/css/manageModules.css" />
	<link rel="stylesheet" type="text/css" href="/lasauth_media/manage/css/jquery-ui-1.8.21.custom.css" />
	<link rel="shortcut icon" href="/lasauth_media/img/favicon.ico">
	<link rel="stylesheet" href="/lasauth_media/manage/css/tables.css">
	
    <script language="JavaScript" type="text/javascript" src="/lasauth_media/js/jquery.js"></script>
	<script language="JavaScript" type="text/javascript" src="/lasauth_media/manage/js/script.js"></script>
	<script language="JavaScript" type="text/javascript" src="/lasauth_media/manage/js/requestModules.js"></script>
	<script language="JavaScript" type="text/javascript" src="/lasauth_media/js/jquery-ui.js"></script>
	
</head>
<body onload="setLoginFocus()">
	<header>
		<hgroup>
			<h1> <a href="{% url loginmanager.views.index %}"><img src="/lasauth_media/img/logo.PNG" width="143" height="46"> Laboratory Assistant Suite </a></h1>
 
		</hgroup>
	</header>
	<section id="content">
		<script>$("section#content").addClass("home");</script>
		<p id="user_name">
			<span id="datename">{% now "jS F Y" %} | <a class="head" href="{% url loginmanager.views.logout %}">Logout</a> [{{  user.username  }}]</span>
		</p>
			<div style="padding-left:50px;">    
		    	<h1 class="title">Request Report</h1>
				</br></br>
			    <table class="table-user">
					<thead>
						<tr><th>Requested functionality</th><th>Performed at:</th></tr>
					</thead>
				    	<tr>
				    	<td>
				    		{% regroup req.permissions.all|dictsort:"lasmodule.shortname" by lasmodule as permessi%}
								{% for perms in permessi%}
									<li style="font-weight:bold;">{{perms.grouper}}
										<ul>
											{%for item in perms.list%}
												<li  style="font-weight:normal;">
													{{item}}
												</li>
											{%endfor%}
										</ul>
									</li>
								{%endfor%}
							</td>	
				    		<td>{{req.date_time}}</td>
						</tr>
				</table>
				</br></br>
			</div>
	</section>
	<footer>
		If you have any comments or suggestions, <a target="_blank" href="http://devircc.polito.it/wordpress">click here</a>!
	</footer>	
</body>

</html>
