<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="LAS - Clinical Extension">
    <meta name="author" content="Andrea">
    <!--link rel="icon" href="../../favicon.ico"-->

    <title>LAS - Clinical Extension</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
    .my-btn{

        color: #ffffff;
        background-color: transparent;
        border-color: #cdbfe3;
    }
    .my-btn:hover {
        border-color: #fff;
        background-color: #fff;
        color: #6F5499;
    }
    </style>

    <!-- Custom styles for this template -->
    <!--link href="jumbotron.css" rel="stylesheet"-->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--script src="../../assets/js/ie-emulation-modes-warning.js"></script-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style = "background-color: #6F5499">
        <div class="container">

            <h2 style = "color: #fff"><i>Hello
            {% if user.first_name %}
                {{ user.first_name }}
            {% else %}
                {{ user.username }}
            {% endif %}

            </i></h2>

            <h1 style = "color: #fff">Welcome to <i>Clinical</i> data platform!</h1>
            <p style = "color: #fff">This is the <i>Clinical</i> data platform of LAS. This is only an experimental starting point to create something better, in the meanwhile, you can use the available functionalities listed below.</p>
            <p><a class="btn btn-lg my-btn" href="/" role="button">&laquo; Back to LAS</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Patients Enrollment</h2>
                <p>Register and enroll patients in clinical Trials. </p>
                <p><a class="btn btn-default" href="../corePatient/enrollment" role="button">Test it &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Basic CRF</h2>
                <p>A very first step towards Clinical Research Form. </p>
                <p><a class="btn btn-default" href="../corePatient/crf" role="button">Test it &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Enrollment List</h2>
                <p>Take a glance at the list of enrolled patients per Trial.</p>
                <p><a class="btn btn-default" href="../corePatient/list" role="button">Test it &raquo;</a></p>
            </div>
            <!--div class="col-md-3">
                <h2>Funnel Pipeline</h2>
                <p>Control the movements of bio-materials through pipeline of Funnel.</p>
                <p><a class="btn btn-default" href="#" role="button">Test it &raquo;</a></p>
            </div-->
        </div>

        <hr>

        <footer>
            <p><i>Latest news:</i></p>
            <ul>
                <li>Testing pages are now available. This is a test, please be patient if something went wrong...</li>
            </ul>
        </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Bootstrap's JavaScript requires jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--script src="../../assets/js/ie10-viewport-bug-workaround.js"></script-->
</body>
</html>
