{% extends "base.html" %}
{% block title %}Scanned chips{% endblock %}


{% block content %}

<style>
	td.reqinfo{
		border: 0px;
	}
	th.reqinfo{
		border: 0px;
		text-align:	right;
		padding-right: 20px;
	}

	td#bottoni{
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		border: 1px solid #003600;
	}
	td#bottoni:hover{
		background-color: #E0E0E0;
	}
	
</style>

<div>
<p style="color:red">{{ errore }}</p>
<article id="riquadro" style="margin-bottom:20px;max-width:50%">
<div id="request_info">
	<h3>Protocol Info</h3>
	<table id="protocol_info" cellspacing="3" style="margin-bottom:20px;margin-top:25px;margin-left:22px;">             
	     <tbody>
	        <tr> 
	            <th class="reqinfo">Name:</th> 
	            <td class="reqinfo">{{protocol.name}}</td> 
	        </tr>
	        <tr> 
	            <th class="reqinfo">Load quantity (ng):</th> 
	            <td class="reqinfo">{{protocol.loadQuantity}}</td> 
	        </tr>
	        <tr>
	        	<th class="reqinfo">Hybridization Buffer (ul):</th> 
	            <td class="reqinfo">{{protocol.hybBuffer}}</td> 
	        </tr>
	        <tr>
	        	<th class="reqinfo">Total volume (ul):</th> 
	            <td class="reqinfo">{{protocol.totalVolume}}</td> 
	        </tr>
	        <tr>
	        	<th class="reqinfo">Hybridization Temperature (°C):</th> 
	            <td class="reqinfo">{{protocol.hybridTemp}}</td> 
	        </tr>
	         <tr>
	        	<th class="reqinfo">Hybridization Time (hours):</th> 
	            <td class="reqinfo">{{protocol.hybTime}}</td> 
	        </tr>

	        <tr>
	        	<th class="reqinfo">Denaturation Temperature (°C):</th> 
	            <td class="reqinfo">{{protocol.denTemp}}</td> 
	        </tr>
	       	<tr>
	        	<th class="reqinfo">Denaturation Time (minutes):</th> 
	            <td class="reqinfo">{{protocol.denTime}}</td> 
	        </tr>
	        <tr>
	        	<th class="reqinfo">Notes:</th> 
	            <td class="reqinfo">{{protocol.notes}}</td> 
	        </tr>
	    </tbody> 
	    
	</table>

</div>
</article>

{% endblock %}