{% extends "base.html" %}
{% block title %}New Hybridize Request{% endblock %}

{% block content %}
<script type="text/javascript" src="/uarray_media/js/DataTables-1.9.4/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/uarray_media/js/request.js"></script>
<link rel="stylesheet" href="/uarray_media/css/jquery.dataTables.css" />


<style>
#forms {
	float: left;
	width: 35%;
}
#aliquots{
	float: right;
	margin-right: 20px;
}
th{
text-align:left;
}

input:disabled{
	
	background:#DDDDDD;
	color:#838383;
}

</style>
<div id="forms" style="width:35%">
<p style="color:red">{{ errore }}</p>

			<fieldset style="margin-top:-2%">
				<legend>Aliquots by File</legend>
				<p style="font-family:Courier New,Helvetica,sans-serif;">Requires these headers in the file:<br><em>sample_identifier, date, volume, concentration, [tech_replicates], [sample_features], [exp_group]</em><br>In any order. It is possible to define an owner in the first line of the file. The date format should be YYYY-MM-DD.</p>
				<p style="font-family:Courier New,Helvetica,sans-serif;"> Download template files: 
				<li>
				<a href="/uarray_media/file_template/external_request.xlsx">Excel</a></li> <li><a href="/uarray_media/file_template/external_request.txt">Tab delimited</a></li>
				</p>
				<form id="upload_aliquot_file" action="." method="POST" enctype="multipart/form-data">{% csrf_token %}
				{{ form.as_p }}
                {% if filenamefortitle %}
                <p style="text-align:right;float:right"><input id="upload" class="button" disabled="disabled" type="submit" value="Upload File" /></p> 
                {% else %}
                <p style="text-align:right;float:right"><input id="upload" class="button"  type="submit" value="Upload File" /></p> 
                {% endif %}
				
				</form>
                


			</fieldset>
			
			
			<fieldset>
				<legend>Aliquots by Identifier</legend>
				<table style="border-spacing:10px;">
					<tr>
						<td><b>Owner:</b></td><td><input id="owner" type="text" maxlength="45" value="" name="owner" style="float: right"/></td>
					</tr>
					<tr>
						<td><b>Id:</b></td><td><input id="aliquot_identifier" type="text" maxlength="45" value="" name="add_aliquot" style="float: right"></td>
					</tr>
					<tr>
						<td><b>Sample Feature:</b></td><td><input id="sample_features" type="text" maxlength="45" value="" name="sample_features" style="float: right"/></td>
					</tr>
					<tr>
						<td><b>Experimental Group:</b></td><td><input id="exp_group" type="text" maxlength="45" value="" name="exp_group" style="float: right"/></td>
					</tr>		
					<tr>
						<td><b>Volume (ul):</b></td><td><input id="volume" type="text" maxlength="10" value="" name="volume" style="float: right" onkeypress="validate(event)"/></td>
					</tr>		
					<tr>
						<td><b>Concentration (ng/ul):</b></td><td><input id="concentration" type="text" maxlength="10" value="" name="concentration" style="float: right" onkeypress="validate(event)"/></td>
					</tr>	
					<tr>
						<td><b>Aliquot Generation Date:</b></td><td style="text-align:right" id="tddate">{{ manual_form.date }}</td>
					</tr>
					<tr>
						<td><b>Technical Replicates:</b></td><td><input id="tech_replicates" type="text" maxlength="2" value="" name="tech_replicates" style="float: right" onkeypress="validate(event)"/></td>
					</tr>		
					<tr>	
						<td></td><td style="text-align:right;"><input style="margin-top:10px;" id="addone" class="button" type="button" value="Add Aliquot" onclick="insertRow()"/></td>
					<tr>
				</table>
			</fieldset>
</div>			
	

<div id="aliquots" style="margin-left:10px; width:60%">
	<fieldset style="margin-right:0px; padding:3em; min-width:450px;">
		<legend>Request Information</legend>
		<form id="create_request" action="." method="POST" style="width:inherit">{% csrf_token %}
		<table>
		<tr><td><label for="request_title"><b>Title:</b></label></td>
        {% if filenamefortitle == "" %}
            <td><input type="text" maxlength="45" name="request_title"></td></tr>
        {% else %}
            <td><input type="text" maxlength="45" value="{{filenamefortitle}}" name="request_title"></td></tr>
        {% endif %}

        <tr><td><label for="request_owner"><b>Requested by:</b></label></td>        
        {% if request_owner == "" %}
        <td><input type="text" maxlength="45" name="request_owner"></td></tr>
        {% else %}
        <td><input type="text" maxlength="45" name="request_owner" value="{{request_owner}}"></td></tr>
        {% endif %}		
        <tr><td><label for="request_description"><b>Description:</b></label></td>
		<td><input type="text" maxlength="45" value="" name="request_description"></td></tr>
		<tr><td><label for="operator_name"><b title="If empty, logged user will be used">Operator:</b></label></td>
		<td>
		
		<select title="If empty, logged user will be used" id="operator_name" style="width: 160px">
		<!--<option></option>
                {% for u in users %}
                        <option id="{{u.id}}">{{u.last_name}}&nbsp;{{u.first_name}}</option>
                {% endfor %}-->
                {% for item in assignUsersList%}
                    <option value="{{item.wg.name|safe}}" wg='{{item.wg.name|safe}}' disabled>{{item.wg.name|safe}}</option>
                    {% for u in item.usersList%}
                        <option value="{{u.id}}" id= "{{u.id}}" wg='{{item.wg.name|safe}}'>&nbsp;{{u.last_name|safe}} {{u.first_name|safe}}</option>
                    {% endfor %}
                {%endfor%}
                </select>

                </td></tr>
                </table>
                <input style="float:right" id="create_req_button" class="button" type="submit" disabled="disabled" value="Create Request" />
                </form>
	</fieldset>
	
	<fieldset style="margin-right:0px; padding:3em; min-width:450px;">
	<legend>Current Request</legend>
		
        <article style="width:inherit;overflow:auto">
	
		    <table border=1px id="aliquot_table">
        <thead>
				<TR><TH style="text-align:center;">#</TH>
                <TH style="text-align:center;">Barcode/Label</TH>
                <TH style="text-align:center;">Sample Feature</TH>
                <TH style="text-align:center;">Experimental<br>Group</TH>
                <TH style="text-align:center;">Aliquot<br>Generation Date</TH>
                <TH style="text-align:center;">Volume (ul)</TH>
                <TH style="text-align:center;">Concentration (ul/ng)</TH>
                <TH style="text-align:center;">Owner</TH>
                <TH>Technical Replicates</TH>
                <TH>Present</TH>
                <TH></TH>
        </thead>
        <tbody>
	    {% for aliquot in requested_aliquots %}
		
		<TR aliquot_index={{forloop.counter0}} class="row_data {% if aliquot.genealogy %}gid_data_row{% else %}{%if aliquot.sample_identifier %}barcode_data_row{% endif %}{% endif %}"><TD>{{forloop.counter}}
			<TD class="sample_identifier" sample_identifier='{{aliquot.sample_identifier}}'>{{aliquot.sample_identifier}}
			<TD class="sample_features" sample_features='{{aliquot.sample_name}}'>{{aliquot.sample_features}}
			<TD class="exp_group" exp_group='{{aliquot.exp_group}}'>{{aliquot.exp_group}}
			<TD class="date" date='{{aliquot.date}}'>{{aliquot.date}}
			<TD class="volume" volume='{{aliquot.volume}}'>{{aliquot.volume}}
			<TD class="concentration" concentration='{{aliquot.concentration}}'>{{aliquot.concentration}}
			<TD class="owner" owner='{{aliquot.owner}}'>{{aliquot.owner}}
			<TD class="tech_replicates" tech_replicates="{{aliquot.tech_replicates}}">{{aliquot.tech_replicates}}
            <TD class="present" present="{{aliquot.present}}">{{aliquot.present}}
			<TD class="control center"><a class="remove_aliquot"><span class="ui-icon ui-icon-closethick"></span></a><a class="edit_aliquot"><span class ="ui-icon ui-icon-pencil"></span></a>
		{% endfor %}

        <tbody>
        </table>


        </article>

        <p style="font-family:Courier New,Helvetica,sans-serif;"> Aliquots highlighted in yellow have been previously loaded into the system. Please note that volume and concentration values will be overwritten. To avoid this, please change the aliquot identifier.</p> 
        <p style="font-family:Courier New,Helvetica,sans-serif;"> Aliquots highlighted in red have been previously used and exhausted. Please modify the aliquot identifier in order to submit the new request.</p>


	</fieldset>
</div>




<div id="dialog-form" title="Modify Aliquot" style="display:none;position:relative" class="dialog confirm">
	<span id="aliquot_index_span" ></span><br>
	<table style="border-spacing:10px;">
	<tbody>
	<tr><th>Owner: </th><td><input type="text" maxlength="45" value="" name="owner"></td></tr>
	<tr><th>Sample Identifier: </th><td><input type="text" maxlength="45" value="" name="sample_identifier"></td></tr>
	<tr><th>Sample Features: </th><td><input type="text" maxlength="45" value="" name="sample_features"></td></tr>
	<tr><th>Experimental Group: </th><td><input type="text" maxlength="45" value="" name="exp_group"></td></tr>
	<tr><th>Volume: </th><td><input type="text" maxlength="45" value="" name="volume" onkeypress="validate(event)"></td></tr>
	<tr><th>Concentration: </th><td><input type="text" maxlength="45" value="" name="concentration" onkeypress="validate(event)"></td></tr>
	<tr><th>Technical Replicates: </th><td><input type="text" maxlength="45" value="" name="tech_replicates" onkeypress="validate(event)"></td></tr>
	<tr><th>Date: </th><td><input type="text" maxlength="45" value="" name="date"></td></tr>
	</tbody>
	</table>
</div>



{% endblock %}

