{% extends "base.html" %}
{% block title %}Select working session{% endblock %}
{% block content %}

<meta charset="utf-8">
	
<script src="/sanger_media/js/jquery.sortElements.js"></script>
<script type="text/javascript" src="/sanger_media/js/DataTables-1.9.4/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/sanger_media/js/select_experiment.js"></script>
<link rel="stylesheet" href="/sanger_media/css/jquery.dataTables.css" />

	<h3>Selection of experiment</span></h3>
		
        <article style="width:inherit;overflow:auto">
		
		<p style="text-align:right;float:right"><input id="select" class="button" disabled="disabled" type="submit" value="Select" /></p> 

		<table border=1px id="plan_table">
        	<thead>
				<Tr>
				<th style="text-align:center;">Timestamp</th>
				<th style="text-align:center;">Title</th>
                <th style="text-align:center;">Description</th>
                </tr>
        	</thead>
        	<tbody>
		    {% for p in plans%}
				<tr plan_index={{p.id}}>
				<td>{{p.time_creation|date:"Y-m-d H:i:s"}}</td>
				<td>{{p.title|default:""}}</td>
				<td>{{p.description|default:""}}</td>
			</tr>
			{% endfor %}

        	</tbody>
        </table>


        </article>


{% endblock %}