#content{
background-image: url("../img/sfondo.png");
background-position: 100% 100%;
background-repeat: no-repeat no-repeat;
}

.cn-container{
	width: 30%;
	min-width: 250px;
	max-width: 820px;
	margin: 10px auto 0 auto;
	text-align: left;
	position: relative;
	
}

.cn-container h2{
	border-color: #452063 !important;
	color: #452063 !important;
	border: 3px solid #452063;

	font-weight: bold !important;
	text-align: center;
	display: block;
	padding: 2%;
	font-size: 15px;
	letter-spacing: 2px;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	color: #333333 !important;
	line-height: 20px;
	outline: none;
	margin: 0 0 10px 0;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	background: #E8E8E8;
	-webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; 
	background-clip: padding-box;
	border-radius:                          5px;
    -moz-border-radius:                     5px;
    -webkit-border-radius:                  5px;
    box-shadow:                             0px 0px 5px #000000;
    -moz-box-shadow:                        0px 0px 5px #000000;
    -webkit-box-shadow:                     0px 0px 5px #000000;   
    cursor: default;
}


/* main menu */

.cn-slide-main nav{
	padding-left: 20%;
	padding-right: 20%;
}

.cn-slide-main nav li{
	border: 8px solid #C7BCD0;

	text-align: center;
	display: block;
	padding: 2%;
	font-size: 15px;
	letter-spacing: 2px;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	color: #333333 !important;
	font-weight: normal !important;
	line-height: 20px;
	outline: none;
	margin: 0 0 10px 0;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	background: #E8E8E8;
	-webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; 
	background-clip: padding-box;
	border-radius:                          5px;
    -moz-border-radius:                     5px;
    -webkit-border-radius:                  5px;
    box-shadow:                             0px 0px 5px #000000;
    -moz-box-shadow:                        0px 0px 5px #000000;
    -webkit-box-shadow:                     0px 0px 5px #000000;   
    cursor: pointer;
}

.cn-slide-main nav li:hover{
	border-color: #452063;
	color: #452063 !important;
	
	font-weight: bold !important;
}

/* sub menu */

.cn-slide{
	text-align: center;
	width: 80%;
	position: relative;
	display: none;
}

.cn-slide:target{
	z-index: 1000;
}
.cn-slide nav li{
	
	text-align: center;
	display: block;
	padding: 2%;
	font-size: 15px;
	letter-spacing: 2px;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	color: #333333 !important;
	font-weight: normal !important;
	line-height: 20px;
	outline: none;
	margin: 0 0 10px 0;
	background: #E8E8E8;
	-webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; 
	background-clip: padding-box;
	cursor: pointer;
}


.cn-slide nav li:hover{
	color: #003600 !important;
	font-weight: bold !important;
}


.cn-content{
	background: #80B8CE  no-repeat center center;
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; 
	text-align: left;
	padding: 20px 20px 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	border: 8px solid #fff;
	margin-top: 5px;
	cursor: pointer;
	-webkit-transition: all 0.9s linear;
	-moz-transition: all 0.9s linear;
	-o-transition: all 0.9s linear;
	-ms-transition: all 0.9s linear;
	transition: all 0.9s linear;
}


.cn-back{
	border: 4px solid #452063;

	cursor: pointer;
	height: 20px;
	width: 20px;
	font: bold 10px/20px arial, helvetica;
	position: absolute;
	text-align: center;
	top: -10px;
	left: -10px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	background-color: #E8E8E8;
}

/*image home */

.imghome{
    float:                                  left;	
    padding:                                5%;
    padding-bottom:                         9%;
    border-radius:                          5px;
    -moz-border-radius:                     5px;
    -webkit-border-radius:                  5px;
    box-shadow:                             0px 0px 12px #000000;
    -moz-box-shadow:                        0px 0px 12px #000000;
    -webkit-box-shadow:                     0px 0px 12px #000000;   
    margin:                                 0% 3% 0% 0%;
}

/*resize of screen */

@media screen and (max-width: 1060px){
	.cn-slide nav a{
		font-size: 15px !important;
	}
}
@media screen and (max-width: 900px){
	.cn-container h2{
		font-size: 13px !important;
		line-height: 24px;
	}
	.cn-container li{
		font-size: 13px !important;
	}
}
