<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="charset=UTF-8">
	<script>
		media_url = "{{MEDIA_URL}}";
	</script>
	<script src="{{MEDIA_URL}}js/jquery-1.10.2.min.js"></script>
	<script src="{{MEDIA_URL}}js/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="{{MEDIA_URL}}js/jquery.dataTables.min.js"></script>
<!--	<script src="{{MEDIA_URL}}js/jquery.tablesorter.min.js"></script>-->
<!--	<script src="{{MEDIA_URL}}js/jquery.tablesorter.pager.js"></script>-->
<!--	<script src="{{MEDIA_URL}}js/jquery.tablesorter.js"></script>-->
<!--	<script src="{{MEDIA_URL}}js/jquery.jsort.0.4.js"></script>-->
<!--	<script src="{{MEDIA_URL}}js/jquery.metadata.js"></script>-->
<!--	<script src="{{MEDIA_URL}}js/inputvalidation.js"></script>-->
	 <script src="{{MEDIA_URL}}js/urls.js"></script>
	
	<link rel="stylesheet" href="{{MEDIA_URL}}css/style.css">
	<link rel="stylesheet" href="{{MEDIA_URL}}css/mystyle.css">
	<link rel="stylesheet" href="{{MEDIA_URL}}css/smoothness/jquery-ui-1.10.3.custom.min.css">
	<link rel="stylesheet" href="{{MEDIA_URL}}css/jquery.dataTables.css">
	{% block style %} {% endblock %}
	{% block script %} {% endblock %}
	
	<title>{% block title %}{% endblock %}</title>
		
	<link rel="shortcut icon" href="{{MEDIA_URL}}img/favicon.ico">	
	
	<!-- il seguente script viene eseguito solo su versioni di IE inferiori alla 9, serve per far si che il browser recepisca il Dom stabilito in modo corretto, anche in caso ci siano elementi che non riconosce -->
	<!-- [if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script>
	//customizzazione delle alert
	function alert2(message, title, buttonText) {

    buttonText = (buttonText == undefined) ? "Ok" : buttonText;
    title = (title == undefined) ? "The page says:" : title;

    var div = $('<div>');
    div.html(message);
	div.css("padding","25px");
    div.attr('title', title);
    div.dialog({
        autoOpen: true,
        modal: true,
		height: 200,
        draggable: true,
        resizable: true,
        buttons: [{
            text: buttonText,
            click: function () {
                $(this).dialog("close");
                div.remove();
            }
        }]
    });
	}
	window.alert = alert2
	
	$(document).ready(function() {
	$("span.home").click(function(){
        window.location="{% url annotations.views.home %}";
    });
	});

    jQuery(document).ready(function() {
                        jQuery('body').ajaxComplete(function(e, xhr, settings) {
                                if (xhr.status == 278) {
                                    window.location.href = xhr.getResponseHeader("Location").replace(/\?.*jQuery/, "?next="+window.location.pathname);
                                }
                        });
                });
	</script>
	
</head>

<body>

	<header>
		
		<table style="width:100%">
	        <tr>
		        <td>
	                <h1> <a href="{% url annotations.views.home %}"><img  src="{{MEDIA_URL}}img/logo-trasp.png" width="143" height="46" border="0"></a> Annotation Management Module </h1>
		        </td>
		        <td style='text-align:right; padding-right:1%'>
			        <p id="user_name" user='{{user}}'>
						<span id="datename">{% now "jS F Y" %} | <a href="{% url annotations.views.logout_view %}">LAS Home</a> [{{  user  }}]</span>
					</p>
				</td>
	        </tr>
	    </table>
		
	</header>
	{% block report %} {% endblock %}
	<section id="content">	
		{% block content %}{% endblock %}
	</section>


<footer>
	If you have any comments or suggestions, <a target="_blank" href="http://devircc.polito.it/wordpress/?p=558#respond">click here</a>!
</footer>


</body>

</html>
